<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>FirstApp</title>
=======
  <title>RailsinstallerDemo</title>
>>>>>>> 1bab32b6d43878083be2500ef0fc020330f7aa0c
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
